@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Readex+Pro&display=swap');
body,html {
    margin: 0px;
    font-family: Readex Pro;
}
.uk-navbar-nav .uk-brand {
    font-family: Readex Pro;
    color: rgba(0, 87, 0, 0.349);
}
.uk-navbar-nav .nav-link-h {
    font-family: Readex Pro;
    color: rgba(0, 0, 0, 0.596);
}
.uk-navbar-nav .nav-link-h:hover {
    font-family: Readex Pro;
    color: rgba(0, 92, 0, 0.596);
}
.button-cart {
    padding: 10px;
    margin: 20px;
    background-color: aliceblue;
    color: black;
    font-size: 18px;
    border-radius: 5px;
    border: 0px !important;
    transition: 500ms;
}
.button-cart:hover {
    padding: 10px;
    margin: 20px;
    background-color: rgb(172, 252, 255);
    color: black;
    font-size: 18px;
    border-radius: 5px;
    border: 0px !important;
}
.grid-container {
    display: flex;
    flex-direction: row;
}
.grid-card {
    flex: 1;
    margin-left: 20px;
}